body {
  margin: 0;
  font: 16px/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: whitesmoke;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: whitesmoke;
  text-decoration: none;

}
#root {
  color:whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
main {
  background-color: #000000;
}